@model IEnumerable<TestGoogleDrive.Models.TestRun>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Commit
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDriveLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMirrored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppearsExactlyOnce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotUnderPlainDrives)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpensMyDriveDirectly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommitName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDriveLetter) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMirrored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppearsExactlyOnce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotUnderPlainDrives)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpensMyDriveDirectly)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
