@model IEnumerable<TestGoogleDrive.Models.TestRun>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Syncing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreamLoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppearsExactlyOnce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotUnderPlainDrives)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpensMyDriveDirectly)
            </th>
            <th class="pe-5">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommitName) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Syncing) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppearsExactlyOnce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotUnderPlainDrives)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpensMyDriveDirectly)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ed</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Det</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Del</a>
            </td>
        </tr>
}
    </tbody>
</table>
